https://www.rottentomatoes.com/top/bestofrt/?year=2019

In [1]:
from bs4 import BeautifulSoup
from urllib.request import urlopen
import pandas as pd

In [2]:
url = "https://www.rottentomatoes.com/top/bestofrt/?year=2019"
page = urlopen(url)
soup = BeautifulSoup(page,'html.parser')

<a href="/m/parasite_2019" class="unstyled articleLink">
            Parasite (Gisaengchung) (2019)</a>
#top_movies_main > div > table > tbody > tr:nth-child(1) > td:nth-child(3) > a
#top_movies_main > div > table > tbody > tr:nth-child(2) > td:nth-child(3) > a

In [52]:
soup.select("div td a.articleLink")[0].string.strip()

'Parasite (Gisaengchung) (2019)'

In [63]:
#예매율 영화제목 추출하기

li_lists = soup.select("div td a.articleLink")
count = 0
titleLists = [] #영화제목 Lists
countLists = [] #예매율 순위 Lists
yearLists = []

for li in li_lists :
    count += 1
    print(count, li.string.strip()[0:-7])
    countLists.append(count)
    year = li.string.strip()[-5:-1]
    yearLists.append(year)
    titleLists.append(li.string.strip()[0:-7])

1 Parasite (Gisaengchung)
2 Avengers: Endgame
3 Knives Out
4 Us
5 Toy Story 4
6 The Irishman
7 Little Women
8 Booksmart
9 The Farewell
10 Marriage Story
11 A Beautiful Day in the Neighborhood
12 If Beale Street Could Talk
13 Once Upon a Time In Hollywood
14 Spider-Man: Far From Home
15 Pain and Glory (Dolor y gloria)
16 Shazam!
17 Ford v Ferrari
18 Dolemite Is My Name
19 Uncut Gems
20 The Lighthouse
21 Apollo 11
22 Rocketman
23 Amazing Grace
24 John Wick: Chapter 3 - Parabellum
25 Ash Is Purest White
26 They Shall Not Grow Old
27 The Peanut Butter Falcon
28 Honeyland
29 Honey Boy
30 One Cut of the Dead (Kamera o tomeru na!)
31 Birds of Passage (Pájaros de verano)
32 Knock Down the House
33 Maiden
34 For Sama
35 Atlantics
36 Fighting with My Family
37 Hustlers
38 One Child Nation
39 Captain Marvel
40 3 Faces
41 The Last Black Man in San Francisco
42 Woman at War (Kona fer í stríð)
43 Chained for Life
44 How to Train Your Dragon: The Hidden World
45 First Love (Hatsukoi)
46 Transit
47 Tigers Are Not Afraid (Vuelven)
48 Stan & Ollie
49 The Chambermaid (La camarista)
50 Midnight Traveler
51 Mickey and the Bear
52 Deadwood: The Movie
53 Varda by Agnès
54 Hail Satan?
55 Ready or Not
56 Toni Morrison: The Pieces I Am
57 Ad Astra
58 Midsommar
59 American Factory
60 The Mustang
61 Blinded by the Light
62 Wild Rose
63 The Heiresses (Las Herederas)
64 63 Up
65 Homecoming: A Film by Beyoncé
66 Too Late to Die Young (Tarde para morir joven)
67 By the Grace of God (Grâce à Dieu)
68 Gloria Bell
69 Midnight Family
70 Dark Waters
71 Buñuel in the Labyrinth of the Turtles (Buñuel en el laberinto de las tortugas)
72 Fiddler: A Miracle of Miracles
73 Working Woman
74 Making Waves: The Art of Cinematic Sound
75 Monos
76 The Cave
77 The Kingmaker
78 Love, Antosha
79 Harpoon
80 I Lost My Body
81 Bad Education
82 Little Woods
83 Mike Wallace Is Here
84 Ray & Liz
85 The Two Popes
86 Be Natural: The Untold Story of Alice Guy-Blaché
87 The LEGO Movie 2: The Second Part
88 Clemency
89 Shadow
90 Rojo
91 Jojo Rabbit
92 An Elephant Sitting Still (Da xiang xi di er zuo)
93 High Flying Bird
94 In Fabric
95 The Kid Who Would Be King
96 Citizen K
97 The Wild Pear Tree (Ahlat agaci)
98 Luce
99 Judy
100 Sword of Trust

In [64]:
#countLists 만으로 Datafram 생성
df = pd.DataFrame(data = countLists, columns=['Index'])

In [65]:
# 기존 dataframe에 컬럼과 List 추가
df['Titles'] = titleLists
df['Year'] = yearLists
df

    Index                            Titles  Year
0       1           Parasite (Gisaengchung)  2019
1       2                 Avengers: Endgame  2019
2       3                        Knives Out  2019
3       4                                Us  2019
4       5                       Toy Story 4  2019
..    ...                               ...   ...
95     96                         Citizen K  2019
96     97  The Wild Pear Tree (Ahlat agaci)  2019
97     98                              Luce  2019
98     99                              Judy  2019
99    100                    Sword of Trust  2019

[100 rows x 3 columns]

In [66]:
# csv wjwkd
df.to_csv("../Data/RottenList_2019.csv", index=False)

### (Rank, Rating, Title, Review) --> Scrapy --> CSV --> DB

#top_movies_main > div > table > tbody > tr:nth-child(1) > td:nth-child(2) > span > span.tMeterScore
#top_movies_main > div > table > tbody > tr:nth-child(1) > td:nth-child(3) > a
#top_movies_main > driv > table > tbody > tr:nth-child(2) > td:nth-child(3) > a

### TEST START

In [84]:
rating = soup.select("div td span.tMeterScore")[0].string
print(rating)
title = soup.select("div td a.articleLink")[0].string.strip()
print(title)
review = soup.select("div td.right")[0].string
print(review)

97%
Parasite (Gisaengchung) (2019)
448

### TEST END

In [91]:
ratings = soup.select("div td span.tMeterScore")
titles = soup.select("div td a.articleLink")
reviews = soup.select("div td.right")

count = 0
countLists = [] #예매율 순위 Lists
ratingLists = [] # 영화로튼지수 Lists
titleLists = [] #영화제목 Lists
reviewLists = [] #영화 리뷰 Lists

for title in titles :
    count += 1
    ra = ratings[titles.index(title)].string
    re = reviews[titles.index(title)].string
    print(count, ra, title.string.strip()[0:-7], re)
    countLists.append(count)
    ratingLists.append(ra)
    titleLists.append(title.string.strip()[0:-7])
    reviewLists.append(re)

1 97% Parasite (Gisaengchung) 448
2 100% Avengers: Endgame 525
3 90% Knives Out 447
4 100% Us 529
5 95% Toy Story 4 439
6 86% The Irishman 435
7 97% Little Women 403
8 96% Booksmart 355
9 100% The Farewell 329
10 100% Marriage Story 377
11 89% A Beautiful Day in the Neighborhood 353
12 81% If Beale Street Could Talk 346
13  99% Once Upon a Time In Hollywood 547
14  94% Spider-Man: Far From Home 438
15  97% Pain and Glory (Dolor y gloria) 285
16  93% Shazam! 403
17  97% Ford v Ferrari 335
18  96% Dolemite Is My Name 224
19  95% Uncut Gems 329
20  97% The Lighthouse 371
21  98% Apollo 11 181
22  94% Rocketman 373
23  95% Amazing Grace 156
24  95% John Wick: Chapter 3 - Parabellum 343
25  85% Ash Is Purest White 151
26  90% They Shall Not Grow Old 148
27  96% The Peanut Butter Falcon 206
28  90% Honeyland 119
29  92% Honey Boy 225
30  97% One Cut of the Dead (Kamera o tomeru na!) 86
31  92% Birds of Passage (Pájaros de verano) 166
32  90% Knock Down the House 102
33  99% Maiden 116
34  89% For Sama 93
35  99% Atlantics 149
36  90% Fighting with My Family 233
37  99% Hustlers 335
38  99% One Child Nation 99
39  96% Captain Marvel 519
40  100% 3 Faces 97
41  94% The Last Black Man in San Francisco 201
42  100% Woman at War (Kona fer í stríð) 115
43  96% Chained for Life 51
44  99% How to Train Your Dragon: The Hidden World 261
45  98% First Love (Hatsukoi) 113
46  99% Transit 176
47  96% Tigers Are Not Afraid (Vuelven) 111
48  92% Stan & Ollie 216
49  87% The Chambermaid (La camarista) 68
50  98% Midnight Traveler 46
51  78% Mickey and the Bear 45
52  98% Deadwood: The Movie 87
53  93% Varda by Agnès 86
54  97% Hail Satan? 127
55  100% Ready or Not 294
56  90% Toni Morrison: The Pieces I Am 99
57  97% Ad Astra 372
58  94% Midsommar 385
59  97% American Factory 87
60  92% The Mustang 129
61  99% Blinded by the Light 252
62  100% Wild Rose 187
63  100% The Heiresses (Las Herederas) 79
64  98% 63 Up 56
65  98% Homecoming: A Film by Beyoncé 55
66  96% Too Late to Die Young (Tarde para morir joven) 55
67  88% By the Grace of God (Grâce à Dieu) 94
68  97% Gloria Bell 198
69  84% Midnight Family 71
70  83% Dark Waters 217
71  97% Buñuel in the Labyrinth of the Turtles (Buñuel en el laberinto de las tortugas) 47
72  95% Fiddler: A Miracle of Miracles 44
73  89% Working Woman 43
74  92% Making Waves: The Art of Cinematic Sound 64
75  97% Monos 148
76  98% The Cave 62
77  98% The Kingmaker 62
78  98% Love, Antosha 59
79  96% Harpoon 58
80  91% I Lost My Body 79
81  97% Bad Education 138
82  90% Little Woods 95
83  98% Mike Wallace Is Here 91
84  98% Ray & Liz 69
85  98% The Two Popes 215
86  97% Be Natural: The Untold Story of Alice Guy-Blaché 86
87  93% The LEGO Movie 2: The Second Part 291
88  97% Clemency 143
89  97% Shadow 98
90  97% Rojo 53
91  97% Jojo Rabbit 408
92  96% An Elephant Sitting Still (Da xiang xi di er zuo) 49
93  93% High Flying Bird 130
94  95% In Fabric 151
95  95% The Kid Who Would Be King 187
96  96% Citizen K 59
97  89% The Wild Pear Tree (Ahlat agaci) 80
98  95% Luce 156
99  85% Judy 322
100  92% Sword of Trust 90

In [92]:
#countLists 만으로 Datafram 생성
df = pd.DataFrame(data = countLists, columns=['Index'])

In [93]:
# 기존 dataframe에 컬럼과 List 추가
df['Titles'] = titleLists
df['Rating'] = ratingLists
df['Review'] = reviewLists
df

    Index                            Titles Rating Review
0       1           Parasite (Gisaengchung)    97%    448
1       2                 Avengers: Endgame   100%    525
2       3                        Knives Out    90%    447
3       4                                Us   100%    529
4       5                       Toy Story 4    95%    439
..    ...                               ...    ...    ...
95     96                         Citizen K    96%     59
96     97  The Wild Pear Tree (Ahlat agaci)    89%     80
97     98                              Luce    95%    156
98     99                              Judy    85%    322
99    100                    Sword of Trust    92%     90

[100 rows x 4 columns]

In [94]:
# csv 저장
df.to_csv("../Data/RottenList_2019_DV.csv", index=False)

In [95]:
column = ['Index', 'Title', 'Rating', 'Review']
rottens = pd.read_csv("../Data/RottenList_2019_DV.csv")
rottens.columns = column
rottens.head()

   Index                    Title Rating  Review
0      1  Parasite (Gisaengchung)    97%     448
1      2        Avengers: Endgame   100%     525
2      3               Knives Out    90%     447
3      4                       Us   100%     529
4      5              Toy Story 4    95%     439

In [97]:
#pip install sqlalchemy
from sqlalchemy import create_engine
import pandas as pd

In [98]:
engine = create_engine("mysql+pymysql://root:" + "qwer1234" + "@127.0.0.1:3306/movies?", convert_unicode = True)
conn = engine.connect()

In [99]:
rottens.to_sql(name='rottenlist_db', con=engine, if_exists='append', index=False)